<a href="https://colab.research.google.com/github/jvitorc/TCC/blob/main/UNSW_NB15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### *João Vitor Cardoso <2020>*

# **Explorando o uso de redes neurais para detecção de intrusão com a base UNSW-NB15**

Usando a base [UNSW-NB15 - CSV Files](https://www.unsw.adfa.edu.au/unsw-canberra-cyber/cybersecurity/ADFA-NB15-Datasets/) para detecção de intrusão com redes neurais.

## Baixando Base da Dados

#### Baixando CSV de ataques DOS

In [ ]:
!wget https://cloudstor.aarnet.edu.au/plus/s/2DhnLGDdEECo4ys/download?path=%2FUNSW-NB15%20-%20CSV%20Files&files=UNSW-NB15_1.csv

In [ ]:
!unzip -x 'download?path=%2FUNSW-NB15 - CSV Files'

## Importando Bibliotecas

Instalando nova versão do tensorflow

In [ ]:
!pip uninstall tensorflow

In [ ]:
!pip install tensorflow==2.0.0

Importando bibliotecas

In [ ]:
import os
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import  keras
import matplotlib.pyplot as plt
import re

### Verificando GPU

In [ ]:
tf.test.gpu_device_name()

In [ ]:
!nvidia-smi

## Explorando os Dados

Carregando dados

In [ ]:
PATH = '/content/UNSW-NB15 - CSV Files/'

In [ ]:
info = pd.read_csv(PATH+'NUSW-NB15_features.csv', encoding='latin-1')

In [ ]:
info

    No.  ...                                        Description
0     1  ...                                  Source IP address
1     2  ...                                 Source port number
2     3  ...                             Destination IP address
3     4  ...                            Destination port number
4     5  ...                               Transaction protocol
5     6  ...  Indicates to the state and its dependent proto...
6     7  ...                              Record total duration
7     8  ...           Source to destination transaction bytes
8     9  ...            Destination to source transaction bytes
9    10  ...          Source to destination time to live value
10   11  ...           Destination to source time to live value
11   12  ...           Source packets retransmitted or dropped
12   13  ...       Destination packets retransmitted or dropped
13   14  ...  http, ftp, smtp, ssh, dns, ftp-data ,irc  and ...
14   15  ...                             Source bits per second
15   16  ...                        Destination bits per second
16   17  ...                Source to destination packet count
17   18  ...                 Destination to source packet count
18   19  ...              Source TCP window advertisement value
19   20  ...         Destination TCP window advertisement value
20   21  ...                    Source TCP base sequence number
21   22  ...               Destination TCP base sequence number
22   23  ...  Mean of the ?ow packet size transmitted by the...
23   24  ...  Mean of the ?ow packet size transmitted by the...
24   25  ...  Represents the pipelined depth into the connec...
25   26  ...  Actual uncompressed content size of the data t...
26   27  ...                               Source jitter (mSec)
27   28  ...                          Destination jitter (mSec)
28   29  ...                                  record start time
29   30  ...                                   record last time
30   31  ...             Source interpacket arrival time (mSec)
31   32  ...        Destination interpacket arrival time (mSec)
32   33  ...  TCP connection setup round-trip time, the sum ...
33   34  ...  TCP connection setup time, the time between th...
34   35  ...  TCP connection setup time, the time between th...
35   36  ...  If source (1) and destination (3)IP addresses ...
36   37  ...  No. for each state (6) according to specific r...
37   38  ...  No. of flows that has methods such as Get and ...
38   39  ...  If the ftp session is accessed by user and pas...
39   40  ...     No of flows that has a command in ftp session.
40   41  ...  No. of connections that contain the same servi...
41   42  ...  No. of connections that contain the same servi...
42   43  ...  No. of connections of the same destination add...
43   44  ...  No. of connections of the same source address ...
44   45  ...  No of connections of the same source address (...
45   46  ...  No of connections of the same destination addr...
46   47  ...  No of connections of the same source (1) and t...
47   48  ...  The name of each attack category. In this data...
48   49  ...              0 for normal and 1 for attack records

[49 rows x 4 columns]

In [ ]:
column_names = info['Name']
column_names

0                srcip
1                sport
2                dstip
3               dsport
4                proto
5                state
6                  dur
7               sbytes
8               dbytes
9                 sttl
10                dttl
11               sloss
12               dloss
13             service
14               Sload
15               Dload
16               Spkts
17               Dpkts
18                swin
19                dwin
20               stcpb
21               dtcpb
22             smeansz
23             dmeansz
24         trans_depth
25         res_bdy_len
26                Sjit
27                Djit
28               Stime
29               Ltime
30             Sintpkt
31             Dintpkt
32              tcprtt
33              synack
34              ackdat
35     is_sm_ips_ports
36        ct_state_ttl
37    ct_flw_http_mthd
38        is_ftp_login
39          ct_ftp_cmd
40          ct_srv_src
41          ct_srv_dst
42          ct_dst_ltm
43         ct_src_ ltm
44    ct_src_dport_ltm
45    ct_dst_sport_ltm
46      ct_dst_src_ltm
47          attack_cat
48               Label
Name: Name, dtype: object

In [ ]:
data1 = pd.read_csv(PATH+'UNSW-NB15_1.csv', names=column_names)
data2 = pd.read_csv(PATH+'UNSW-NB15_2.csv', names=column_names)
data3 = pd.read_csv(PATH+'UNSW-NB15_3.csv', names=column_names)
data4 = pd.read_csv(PATH+'UNSW-NB15_4.csv', names=column_names)

### Unindo dados

In [ ]:
data = data1.append(data2, ignore_index=True)
data = data.append(data3, ignore_index=True)
data = data.append(data4, ignore_index=True)

In [ ]:
data.head()

        srcip  sport          dstip  ... ct_dst_src_ltm attack_cat Label
0  59.166.0.0   1390  149.171.126.6  ...              1        NaN     0
1  59.166.0.0  33661  149.171.126.9  ...              2        NaN     0
2  59.166.0.6   1464  149.171.126.7  ...              1        NaN     0
3  59.166.0.5   3593  149.171.126.5  ...              1        NaN     0
4  59.166.0.3  49664  149.171.126.0  ...              1        NaN     0

[5 rows x 49 columns]

### Tamanho dos dados

In [ ]:
data.shape

(2540047, 49)

### Verificando tipos de ataques (Porcentagem)

In [ ]:
data.Label.value_counts()/sum(data.Label.value_counts())*100

0    87.351297
1    12.648703
Name: Label, dtype: float64

In [ ]:
data.attack_cat.value_counts()/sum(data.attack_cat.value_counts())*100

Generic             67.068908
Exploits            13.858499
 Fuzzers             5.974484
DoS                  5.089905
 Reconnaissance      3.805990
 Fuzzers             1.572134
Analysis             0.833222
Backdoor             0.558697
Reconnaissance       0.547492
 Shellcode           0.400893
Backdoors            0.166209
Shellcode            0.069409
Worms                0.054158
Name: attack_cat, dtype: float64

## Pré-processamento dos dados

### Listando colunas com tipo object

In [ ]:
data.dtypes[data.dtypes == 'O']

srcip         object
sport         object
dstip         object
dsport        object
proto         object
state         object
service       object
ct_ftp_cmd    object
attack_cat    object
dtype: object

### Filtrando dados defeituosos

In [ ]:
def isdecimal(x):
  return  str(x).isdecimal()

In [ ]:
data  = data[data['sport'].apply(isdecimal)]

In [ ]:
data  = data[data['dsport'].apply(isdecimal)]

### Ajustando tipos

In [ ]:
data['sport'] = pd.to_numeric(data['sport'])

In [ ]:
data['dsport'] = pd.to_numeric(data['dsport'])

Separando dados categoricos

In [ ]:
proto = pd.Categorical(data['proto'])

In [ ]:
data['proto'] = proto.codes

In [ ]:
state = pd.Categorical(data['state'])

In [ ]:
data['state'] = state.codes

In [ ]:
service = pd.Categorical(data['service'])

In [ ]:
data['service'] = service.codes

Substituindo dados

In [ ]:
data['ct_ftp_cmd'] = data['ct_ftp_cmd'].replace(' ', 0)

In [ ]:
data['ct_ftp_cmd'] = pd.to_numeric(data['ct_ftp_cmd'])

In [ ]:
data['attack_cat'] = data['attack_cat'].replace(np.nan, 'Benign')

Separando Labels

In [ ]:
attack_cat = data.pop('attack_cat')

In [ ]:
attack_cat = pd.Categorical(attack_cat)

In [ ]:
label = data.pop('Label')

Separando endereços ip

In [ ]:
srcip = data.pop('srcip')

In [ ]:
dstip = data.pop('dstip')

Verificando novos tipos

In [ ]:
data.dtypes

sport                 int64
dsport                int64
proto                 int16
state                  int8
dur                 float64
sbytes                int64
dbytes                int64
sttl                  int64
dttl                  int64
sloss                 int64
dloss                 int64
service                int8
Sload               float64
Dload               float64
Spkts                 int64
Dpkts                 int64
swin                  int64
dwin                  int64
stcpb                 int64
dtcpb                 int64
smeansz               int64
dmeansz               int64
trans_depth           int64
res_bdy_len           int64
Sjit                float64
Djit                float64
Stime                 int64
Ltime                 int64
Sintpkt             float64
Dintpkt             float64
tcprtt              float64
synack              float64
ackdat              float64
is_sm_ips_ports       int64
ct_state_ttl          int64
ct_flw_http_mthd    float64
is_ftp_login        float64
ct_ftp_cmd            int64
ct_srv_src            int64
ct_srv_dst            int64
ct_dst_ltm            int64
ct_src_ ltm           int64
ct_src_dport_ltm      int64
ct_dst_sport_ltm      int64
ct_dst_src_ltm        int64
dtype: object

### Normaliznado dados

In [ ]:
features_stats = data.describe().transpose()

            count          mean  ...           75%           max
sport   2539739.0  30536.931086  ...  47439.000000  65535.000000
dsport  2539739.0  11235.096789  ...  14970.000000  65535.000000
proto   2539739.0    114.494973  ...    119.000000    133.000000
state   2539739.0      4.546094  ...      5.000000     15.000000
dur     2539739.0      0.658863  ...      0.214754   8786.637695

[5 rows x 8 columns]

In [ ]:
def norm(x):
  return (x - features_stats['mean']) / features_stats['std']

normed_features = norm(data)

In [ ]:
normed_features.isna().sum()

### Separando conjunto de treino e teste

In [ ]:
 normed_features['Label'] = label

In [ ]:
normed_features['attack_cat'] = attack_cat

In [ ]:
train = normed_features.sample(frac=0.8,random_state=1)
test = normed_features.drop(train.index)

In [ ]:
train.Label.value_counts()

0    1774805
1     256986
Name: Label, dtype: int64

In [ ]:
test.Label.value_counts()

0    443651
1     64297
Name: Label, dtype: int64

In [ ]:
test.shape, train.shape

((507948, 47), (2031791, 47))

In [ ]:
train_targ1 = train.pop('Label')
train_targ2 = train.pop('attack_cat')
train_feat = train

test_targ1 = test.pop('Label')
test_targ2 = test.pop('attack_cat')
test_feat = test

## Criando Modelo

In [ ]:
attack_cat.value_counts()

 Fuzzers              5051
 Fuzzers             19195
 Reconnaissance      12228
 Shellcode            1288
Analysis              2677
Backdoor              1795
Backdoors              534
DoS                  16353
Exploits             44525
Generic             215481
Reconnaissance        1759
Shellcode              223
Worms                  174
dtype: int64

In [ ]:
train_feat.shape[1]

45

In [ ]:
def build_model_label():
  model = keras.Sequential([
    keras.layers.Dense(15, activation='relu', input_shape=[45]),
    keras.layers.Dense(10, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
  ])

  model.compile(loss='sparse_categorical_crossentropy',
                optimizer='adam',
                metrics=['accuracy'])

  return model

In [ ]:
model_label = build_model_label()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

In [ ]:
model_label.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 15)                690
_________________________________________________________________
dense_1 (Dense)              (None, 10)                160
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 861
Trainable params: 861
Non-trainable params: 0
_________________________________________________________________

### Criando checkpoint para salvar treinamento

In [ ]:
!mkdir training

In [ ]:
checkpoint_path = "training/cp.ckpt"
checkpoint_dir = os.path.dirname(checkpoint_path)

In [ ]:
cp_callback = tf.keras.callbacks.ModelCheckpoint(filepath=checkpoint_path,
                                                 save_weights_only=True,
                                                 verbose=1)

## Treinamento

In [ ]:
train_feat.shape

(2031791, 45)

In [ ]:
train_targ1.shape

(2031791,)

In [ ]:
train_targ1.value_counts()

0    1774805
1     256986
Name: Label, dtype: int64

In [ ]:
train_feat.head()

            sport    dsport  ...  ct_dst_sport_ltm  ct_dst_src_ltm
2232574 -1.442866 -0.606464  ...          2.981003        1.967656
1531343  0.826862 -0.606464  ...          2.171254        0.901823
2202124  0.826862 -0.606464  ...          1.199556        1.434740
152766   1.367192 -0.327857  ...         -0.419941       -0.519288
1813052  1.521782  2.665765  ...         -0.419941       -0.252830

[5 rows x 45 columns]

In [ ]:
history = model_label.fit(train_feat, train_targ1, epochs=10)

### Validação

In [ ]:
test_loss, test_acc = model.evaluate(test_feat,  test_targ, verbose=2)

### Grafico

In [ ]:
acc = history.history['acc']
loss = history.history['loss']

In [ ]:
epochs = range(1, len(acc) + 1)

In [ ]:
plt.clf()

plt.plot(epochs, acc, '-r^', label='Training acc')
plt.title('Training  accuracy')
plt.xlabel('Epochs')
plt.ylabel('Accuracy')
plt.legend(loc='best')

plt.show()

In [ ]:
plt.clf()

plt.plot(epochs, loss, '-bo', label='Training loss')
plt.title('Training  loss')
plt.xlabel('Epochs')
plt.ylabel('Loss')
plt.legend(loc='best')

plt.show()

## Restaurando rede neural apartir dos dados salvos

Verificando se os arquvios existem

In [ ]:
!ls {checkpoint_dir}

Criando novo modelo

In [ ]:
model = build_model()

loss, acc = model.evaluate(test_feat,  test_targ, verbose=2)
print("Modelo sem treinamento, precisão: {:5.2f}%".format(100*acc))

Carregando pesos

In [ ]:
model.load_weights(checkpoint_path)

loss,acc = model.evaluate(test_feat,  test_targ, verbose=2)
print("Modelo restaurado, precisão: {:5.2f}%".format(100*acc))

### Salvar dados no Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
!zip training.zip training/

In [ ]:
!cp training.zip "/content/drive/My Drive/"